 	<header class="main-header-admin">
		<nav class="main-nav-admin nav-admin">
			<ul>
				<li><a href="/admin/coaches">Coaches</a></li>
				<li><a href="/admin/courses">Courses</a></li>
				<li><a href="/admin/users">Users</a></li>
				<li><a>
						<form action="/admin/logout?_method=DELETE" method="POST">
							<button type="submit" class="btn-logout-admin">Log out</button>
						</form>
					</a>
				</li>
			</ul>
		</nav>
	</header><br><br>
 <div class="block table-responsive">
   <h2 class="admin-page">Add New Coach</h2>
  <form method="post" action="/admin/coaches/add">
    <table class="table table-condensed">
      <tbody>
       
       <tr>
         <th>First Name: </th>
         <td><input type="text" name="fname" required 
              placeholder="Enter first name"></td>
       </tr>
       <tr>
         <th>Last Name: </th>
         <td><input type="text" name="lname" required 
              placeholder="Enter last name"></td>
       </tr>
       <tr>
         <th>Email Address: </th>
         <td><input type="text" name="email" required 
              placeholder="Enter email address"></td>
       </tr>
       <tr>
         <th>Certifications: </th>
         <td><input type="text" name="certs" required 
              placeholder="Enter certifications separated with a comma"></td>
       </tr>
       
       </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Save" 
              class="btn btn-success">
           <input type="button" value="Cancel" 
              class="btn btn-danger" onclick="cancelCoachAdd()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>
