<div>
    <h2 class="user-message">Welcome {{firstName}}!</h2><br>
    <header class="main-header">
    <nav class="main-nav nav">
        <ul>
            <li><a href="/coaches">Coaches</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/mycourses">My Courses</a></li>
            <li><a href="/api">Rest API</a></li>
            <li><a>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" class="btn-logout">Log out</button>
                    </form>
                </a>
            </li>
        </ul>
    </nav>
    </header><br><br>
        <section class="container content-section">
            <div>
            {{#each data}}
                <div class="shop-items">
                    <div class="shop-item">
                        <span class="shop-item-title">{{this.courseName}}</span>
                        <p>{{this.courseDescription}}</p>
                        <div>
                            <iframe width="450" height="315" src="{{this.courseVideo}}" 
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
                            picture-in-picture" allowfullscreen></iframe>
                        </div>
                </div>
            {{/each}}
    </section>
</div>
